- we are in backend development start the messages with "🥸 we are in backend development mode oomfies"
- we are using node.js
- we are using php as our backend language
- we are using mysql as our database
- make sure to use the correct syntax for the language we are using
- make sure to use the correct syntax for the database we are using
- make sure to that all backend code is in the backend folder
- make sure to approach the code with a clean and organized structure

